/*
 * zweihander scheme
 * by Nicolas Krul
 *
 * GTK 3.0 template 
 * by Jonn Mostovoy - https://github.com/manpages
 *
 * Generated
 * by base16-builder - https://github.com/base16-builder/base16-builder
 */

@define-color theme_base_color #141920;
@define-color theme_fg_color #678ec2;
@define-color theme_active_color #293647;
@define-color theme_insensitive_color #678ec2;
@define-color theme_insensitive_bg #141920;

@define-color theme_cursor_color #376a91;

/* fallback mode */
@define-color os_chrome_bg_color #141920;
@define-color os_chrome_fg_color #678ec2;
@define-color os_chrome_selected_bg_color #d1c6bc;
@define-color os_chrome_selected_fg_color #293647;

* {
    /* Pidgin */
    -GtkIMHtml-hyperlink-color: #376a91;
    -GtkIMHtml-hyperlink-visited-color: #7569E0;
    -GtkIMHtml-hyperlink-prelight-color: #e5dcd0;

    /* Evolution */
    -GtkHTML-link-color: #376a91;
    -GtkHTML-vlink-color: #7569E0;
    -GtkHTML-cite-color: #5d692a;

    -GtkWidget-link-color: #376a91;
    -GtkWidget-visited-link-color: #7569E0;
}

/* @import url("resource:///org/gnome/HighContrastInverse/a11y.css"); */

