zweihander-new: {
  gui00: #0a1a24,
  gui01: #141920,
  gui02: #202936,
  gui03: #38495D,
  gui04: #949494,
  gui05: #b1b1b1,
  gui06: #d1c6bc,
  gui07: #eedead,
  gui08: #1d6376,
  gui09: #376a91,
  gui10: #990d04,
  gui11: #c67a1d,
  gui12: #687b1c,
  gui13: #5d692a,
  gui14: #521c72,
  gui15: #f5ac23,
}

zweihander-old: {
  gui00: #0a1a24,
  gui01: #141920,
  gui02: #202936,
  gui03: #38495D,
  gui04: #949494,
  gui05: #8397a3,
  gui06: #d1c6bc,
  gui07: #eedead,
  gui08: #1d6376,
  gui09: #376a91,
  gui10: #990d04,
  gui11: #c67a1d,
  gui12: #b1b1b1,
  gui13: #5d692a,
  gui14: #521c72,
  gui15: #f5ac23,
}

vaporwave{
  gui00: #433544,
  gui01: #,
  gui02: #,
  gui03: #41435b,
  gui04: #5f677b,
  gui05: #7e8c95,
  gui06: #e6c7a1,
  gui07: #fef6d1,
  gui08: #a03756,
  gui09: #ae6c5e,
  gui10: #eeb669,
  gui11: #5791a5,
  gui12: #e2e6d1,
  gui13: #7fc9da,
  gui14: #696a93,
  gui15: #da8e50,
}

vaporwave{
  gui00: #101321,
  gui01: #281632,
  gui02: #350b39,
  gui03: #470d3b,
  gui04: #4d1f43,
  gui05: #722c5c,
  gui06: #e5dcd0,
  gui07: #cfd3e9,
  gui08: #ae4e66,
  gui09: #da0061,
  gui10: #f2ac59,
  gui11: #256466,
  gui12: #74a48c,
  gui13: #0075c1,
  gui14: #bb25c2,
  gui15: #c67a1d,
}

sandy {
  gui00: #232021,
  gui01: #483b3c,
  gui02: #5c585f,
  gui03: #6e6663,
  gui04: #79747a,
  gui05: #8f8f8d,
  gui06: #dcc7c3,
  gui07: #95a2ab,
  gui08: #651933,
  gui09: #ca5553,
  gui10: #CA967A,
  gui11: #5b5550,
  gui12: #6cb4a4,
  gui13: #547ca4,
  gui14: #A7BDC8,
  gui15: #d87c44,
}


hello {
  a: #FEFEFE,
b:#f5ac23,
#32D6fF
c:#C83F11,
d:#222222,
e:#1E2320,
f:#3F3F3F,
g:#00CCFF,
h:#222222,
i:#00CCFF,
j:#3F3F3F,
k:#6F6F6F,
l:#CC9393,
m:#3F3F3F,
n:#3F3F3F,
}
/* 1E2120 */
zweihander2020{
  gui00: #1D2020,
  gui01: #252923,
  gui02: #2C3226,
  gui03: #323A2A,
  gui04: #39432D,
  gui05: #404B30,
  gui06: #8ea1a8,
  gui07: #c7d0d4,
  gui08: #304b5c,
  gui09: #527386,
  gui10: #990d04,
  gui11: #c67a1d,
  gui12: #7B9078,
  gui13: #828564,
  gui14: #663366,
  gui15: #f5ac23,
}

.color8 { color: #21282e}
.color9 { color: #212f38}
.color1 { color: #264152}
.color7 { color: #385364}
.color6 { color: #506b7c}
.color3 { color: #688291}
.color4 { color: #8ea1a8}
.color2 { color: #5e7279}
.color5 { color: #718792}
.color10 { color: #304b5c}
.color11 { color: #7a97a9}
.color12 { color: #527386}
.color13 { color: #263a45}
.color14 { color: #1c2329}
.color15 { color: #1e201f}
.color16 { color: #242829}
.color17 { color: #343d44}
.color18 { color: #4d5f69}
.color19 { color: #445751}
.color21 { color: #1c1d1f}
.color22 { color: #141414}
.color23 { color: #1e1f19}
.color24 { color: #24292d}
.color25 { color: #2d3035}
.color27 { color: #1d1e19}
.color28 { color: #121212}
.color29 { color: #171717}
.color30 { color: #1d1f1a}
.color32 { color: #1f2022}
.color33 { color: #1a1a1a}
.color34 { color: #1d1d1d}
.color35 { color: #181818}
.color36 { color: #1b1d1c}
.color37 { color: #191919}
.color38 { color: #131313}
.color39 { color: #1b1b1b}
.color40 { color: #1e1e1e}
.color41 { color: #161616}


.color20 { color: #2a302e}
.color31 { color: #272d23}
.color26 { color: #3a3f21}
